[Desktop Entry]
Encoding=UTF-8
Name=IBP
Comment=IBP P2P Cryptocurrency
Comment[fr]=IBP, monnaie virtuelle cryptographique pair à pair
Comment[tr]=IBP, eşten eşe kriptografik sanal para birimi
Exec=ibp-qt %u
Terminal=false
Type=Application
Icon=ibp128
MimeType=x-scheme-handler/ibp;
Categories=Office;Finance;
