[Desktop Entry]
Encoding=UTF-8
Name=ICPro
Comment=ICPro P2P Cryptocurrency
Comment[fr]=ICPro, monnaie virtuelle cryptographique pair à pair
Comment[tr]=ICPro, eşten eşe kriptografik sanal para birimi
Exec=icpro-qt %u
Terminal=false
Type=Application
Icon=icpro128
MimeType=x-scheme-handler/icpro;
Categories=Office;Finance;
